html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chewy", cursive;
  background: url(leopardprint.jpg);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-large {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  align-self: center;
  height: 40px;
  width: 110px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-size: 300%;
  color: #c09562;
  margin-top: 20px;
}

#amazing {
  font-family: "Fontdiner Swanky", cursive;
  opacity: 0.9;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 20px;
  min-height: 270px;
  overflow: auto;
}

#wrapper {
  background-color: rgba(0, 0, 0, 0.9);
  color: #c09562;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-label {
  margin: 10px;
  padding: 10px;
}
.form-control {
  margin: 10px;
  padding: 10px;
}

h3 {
  margin: 10px;
}

#search {
  margin: 20px;
  background-color: white;
  padding: 6px 6px;
}

img {
  margin: 20px;
}

.giphyImages {
  display: flex;
  flex-wrap: wrap;
}

#animal-images {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

/* @media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
} */
